@import "tailwindcss";

@theme {
    --default-font-family: "IBM Plex Sans Arabic";
    --breakpoint-xs: 33rem;
}

@custom-variant dark (&:where([data-theme-mode=dark], [data-theme-mode=dark] *));

.panel {
    @apply rounded-2xl bg-mist-200 p-2 dark:bg-mist-800;
}

.button {
    @apply rounded-2xl bg-mist-300 text-center text-black transition-all dark:bg-mist-700 dark:text-white;

    &:hover:not(:disabled) {
        @apply bg-mist-400 text-white dark:bg-mist-600;
    }

    &:active:not(:disabled) {
        @apply scale-98 bg-mist-500 dark:bg-[oklch(from_var(--color-mist-800)_calc(l-0.03)_c_h)];
    }
}

.button:disabled {
    @apply opacity-30;
}

.radio-selector {
    @apply p-1;

    &:has(input:checked) {
        @apply bg-mist-400 text-white dark:bg-mist-600;

        &:active {
            @apply scale-98 bg-mist-500 dark:bg-[oklch(from_var(--color-mist-800)_calc(l-0.03)_c_h)];
        }
    }
}

input {
    @apply rounded-2xl bg-mist-100 px-1 text-center text-black transition-all outline-none *:outline-none dark:border-2 dark:border-mist-700 dark:bg-transparent dark:text-white;
    &:focus-visible {
        @apply border-4 border-mist-400 dark:border-mist-700;
    }
}

@supports (caret-animation: manual) {
    input {
        caret-color: var(--color-mist-400);
        caret-animation: manual;
        animation: caret-fade 1s infinite ease-in-out;
    }

    @keyframes caret-fade {
        from,
        to {
            caret-color: transparent;
        }

        50% {
            caret-color: var(--color-mist-400);
        }
    }
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.checked-tag {
    @apply bg-mist-400 font-bold text-white transition-all dark:bg-mist-600;
}

#options {
    box-shadow: 0 0 0 100vw hsl(0 0 0 / 0);
    transform: scale(0.8);
    opacity: 0;
    border-radius: var(--radius-2xl);
    transition: all 200ms ease-in-out allow-discrete;
    &[open] {
        box-shadow: 0 0 0 100vw hsl(0 0 0 / 0.3);
        transform: scale(1);
        opacity: 1;
        @starting-style {
            box-shadow: 0 0 0 100vw hsl(0 0 0 / 0);
            transform: scale(0.8);
            opacity: 0;
        }
    }
    &::backdrop {
        background-color: transparent;
        pointer-events: none;
    }
}

@media (width >= 48rem) {
    .scroll-container {
        scrollbar-color: var(--color-mist-300) var(--color-mist-50);
        scrollbar-width: thin;
        &:where([data-theme-mode="dark"] *) {
            scrollbar-color: var(--color-mist-700) var(--color-mist-950);
            scrollbar-width: thin;
        }
    }
}
